@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';


header {
  background-color: #263d36;
  background-image: url("header.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  max-width: none;
  padding: 10vw 2em;
  text-align: center;
  margin-bottom: 20;
}

header h1 {
  color: white;
  font-size: 3.5em;
  font-weight: 300;
}

body {
  color: #566b78;
  background: linear-gradient(#fdfcfb, #e2d1c3);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 50px;
}


h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2 {
  color: #333;
  font-size: 2em;
  font-weight: 350;
}



strong {
  font-weight: lighter;
}


.filters-and-indicators {
  display: flex;
  margin-top: 20px;
}


.filters {
  display:flex;
  flex-direction: column;
  flex:1;
  border-right: solid 2px #566b78;
}


.filter-container {
  display: flex;
  justify-content: flex-start;
  flex:1;
}

.filter-selectors {
  flex:1;
	margin: 0 0 1.5em 0;
	
	overflow: hidden; 
}

.formfield-select {
	position: relative;
}

.formfield-select--container {
	position: relative; 
	
	background-color: #fff;
	border: #777 1px solid;
	margin: 0 0 1.5em 0;
	
	overflow: hidden; 
}

.formfield-select--container select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	width: 110%; 

	height: auto;
	border: 0; 
	margin: 0;
	padding: .75em;
	border-radius: 0;
	

	overflow: hidden;
	text-overflow: ellipsis;
}

.formfield-select--container::after { 
	/* Le pointeur du select */
	content: '';
	position: absolute;
	top: 50%; 
	margin-top: -3px;
	right: .75em;  
	display: block; 
	width: 0; height: 0;
	border-color: transparent;
	border-top-color: #444; 
	border-width: 6px;
	border-style: solid;
	pointer-events: none;
}

.filter-grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 50px;
  margin-top: 15px;
  flex:1;
}

.filter-check {
  display: flex;
  flex-direction: row;
  margin:5px;
}


.indicators  {
  margin-left: 40px;
  flex:1;
}

.indicator-container {
  margin:5px;
}


.products-grid-container  {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.products-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.product-container {
  border:solid 1.5px #244d40;
  border-radius:5px;
  background: linear-gradient(to right, #fdfcfb, #e2d1c3);
  margin:5px;
  display:flex;
  height: 200px;
  width:460px;
  justify-content:space-between ;
}

.product-photo {
  margin:10px;
  border-radius: 5px;
  width: 180px;
  height: 180px;
}

.product-info {
  margin: 5px;
  flex:1;
}


.product-name {
  flex:3;
  flex-direction: row;
  color: #244d40;
  font-weight: normal ;
  font-size: larger;
  flex:1;
  flex-wrap: wrap;
  padding-right: 5px;
}


.product-price {
  flex:3;
  font-weight: bold;
  font-size: x-large;
  color:#666666
}
